html{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
}
body {
    overflow:hidden;
    min-height: 100vh;
    cursor: crosshair;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;

}
.bubble {
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 166, 0, 0.6);
    opacity: 0;
    /* Pour que l'animation ne disparaisse pas et reste dans sa forme de base on ajoute forwards */
    animation: anim 8s forwards;
    /* Le roue chromatique permet de faire un changement de couleur   */
    filter: hue-rotate(0deg);
}
@keyframes anim {
    to {
        top: -250px;
        left: var(--left);
        opacity: 1;
        /* En ajoutant 720 deg on demande à la roue de faire deux tours */
        filter: hue-rotate(720deg);
    }
}
h3{
      font-size: 10rem;
      text-align: center;
      margin-top: 20px;
      color: rgba(128,128,128,0.555);
}